version: "3.7"
services:
  app:
    image: clojure:lein-2.8.1
    restart: always
    # stdin_open: true
    # tty: true
    volumes:
      - .:/app
      - ../../.m2:/root/.m2
    working_dir: "/app"
    ports:
      - 3449:3449
      - 7002:7002
    entrypoint: lein figwheel app lib worker
    networks:
      - dev_net
  changes_srv:
    image: clojure:lein-2.8.1
    restart: always
    volumes:
      - .:/app
      - ../../.m2:/root/.m2
    working_dir: "/app"
    ports:
      - 3450:3450
    entrypoint: lein with-profile +changes-srv-dev ring server-headless
    networks:
      - dev_net
  cue_srv:
    image: clojure:lein-2.8.1
    restart: always
    volumes:
      - .:/app
      - ../../.m2:/root/.m2
    working_dir: "/app"
    ports:
      - 3451:3451
    entrypoint: lein with-profile +cue-srv-dev ring server-headless
    networks:
      - dev_net
  db:
    image: mongo:3.4
    restart: always
    ports:
      - 27017:27017
    volumes:
      - ./data/db:/data
    command: "mongod"
    networks:
      dev_net:
        aliases:
          - mongodb

networks:
  dev_net:
