version: "3"
services:
  app:
    image: broadinstitute/clojure-node
    restart: always
    # stdin_open: true
    # tty: true
    volumes:
      - .:/app
      - /app/target
      - ~/.m2:/root/.m2
    working_dir: "/app/app"
    ports:
      - 3449:3449
    command: lein figwheel app lib worker

    networks:
      - dev_net

  change_srv:
    image: clojure:lein-2.8.1
    restart: always
    hostname: change_srv
    ports:
      - 3450:3450
    volumes:
      - .:/app
      - ~/.m2:/root/.m2
    working_dir: "/app"
    entrypoint: lein monolith each :select :change do ring server-headless
    networks:
      - dev_net
    depends_on:
      - kafka

  decode_srv:
    image: clojure:lein-2.8.1
    restart: always
    hostname: decode_srv
    ports:
      - 3451:3451
    volumes:
      - .:/app
      - /app/target
      - ~/.m2:/root/.m2
    working_dir: "/app"
    entrypoint: lein monolith each :select :decode do ring server-headless
    networks:
      - dev_net
    depends_on:
      - kafka

  persist_srv:
    image: clojure:lein-2.8.1
    restart: always
    hostname: row_srv
    ports:
      - 3452:3452
    volumes:
      - .:/app
      - /app/target
      - ~/.m2:/root/.m2
    working_dir: "/app"
    entrypoint: lein monolith each :select :persist do ring server-headless
    networks:
      - dev_net
    depends_on:
      - kafka
      - mongo

  sessions_srv:
    image: clojure:lein-2.8.1
    restart: always
    hostname: session_srv
    ports:
      - 3453:3453
    volumes:
      - .:/app
      - /app/target
      - ~/.m2:/root/.m2
    working_dir: "/app"
    entrypoint: lein monolith each :select :sessions do ring server-headless
    networks:
      - dev_net
    depends_on:
      - mongo

  useragent_srv:
    image: clojure:lein-2.8.1
    restart: always
    hostname: session_srv
    ports:
      - 3454:3454
    volumes:
      - .:/app
      - /app/target
      - ~/.m2:/root/.m2
    working_dir: "/app"
    entrypoint: lein monolith each :select :useragent do ring server-headless
    networks:
      - dev_net
    depends_on:
      - mongo

  kafka:
    image: spotify/kafka
    restart: always
    hostname: kafka
    ports:
      - 9092:9092
      - 2181:2181
    hostname: kafka
    environment:
      TOPICS: changes
      ADVERTISED_HOST: kafka
      ADVERTISED_PORT: 9092
      AUTO_CREATE_TOPICS: 'true'
    networks:
      - dev_net

  mongo:
    image: mongo:3.4
    restart: always
    hostname: mongo
    ports:
      - 27017:27017
    volumes:
      - ./data/db:/data
    command: "mongod"
    networks:
      - dev_net

  nginx:
    image: nginx:alpine
    restart: unless-stopped
    volumes:
      - ./nginx/dev/iswyd.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80
    networks:
      - dev_net

  # cadvisor:
  #   image: google/cadvisor
  #   restart: always
  #   volumes:
  #     - /:/rootfs:ro
  #     - /var/run:/var/run:rw
  #     - /sys:/sys:ro
  #     - /var/lib/docker/:/var/lib/docker:ro
  #   ports:
  #     - 8080:8080

networks:
  dev_net:
