version: "3.7"
services:
  dev-app:
    image: clojure:lein-2.8.1
    restart: always
    stdin_open: true
    tty: true
    volumes:
      - "nfsapp:/app"
      - "nfsm2:/root/.m2"
    working_dir: "/app"
    ports:
      - 3449:3449
      - 7002:7002
    entrypoint:
      - lein
      - figwheel
      - app
      - lib
      - worker
  dev-db:
    image: mongo:3.4
    restart: always
    ports:
      - 27017:27017
    volumes:
      - ./data/db:/data
    command: "mongod"

volumes:
  nfsapp:
    driver: local
    driver_opts:
      type: nfs
      o: addr=host.docker.internal,rw,nolock,hard,nointr,nfsvers=3
      device: ":${PWD}"
  nfsm2:
    driver: local
    driver_opts:
      type: nfs
      o: addr=host.docker.internal,rw,nolock,hard,nointr,nfsvers=3
      device: ":${PWD}/../../.m2"
