{:dev true
 :api-changes-url "http://0.0.0.0:3450/api/changes"
 :mongo-host      "mongodb"
 :kafka-host      "kafka:9092"
 :change-topic    "change"
 :decode-topic    "decode"
 :decode-group    "decoders"
 }
